* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "RalewayBold", sans-serif;
    font-size: 16px;
    min-width: 320px;
}

/*Buttons*/

.my_btn {
    background-color: #e84545;
    border: none;
    text-transform: uppercase;
}

.btn_md {
    padding: 13px 50px;
    font-size: 13px;
}

.btn_lg {
    padding: 10px 50px;
}

/*Header section*/

header {
    height: 745px;
    background-image: url("../img/header_bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

/*Navigation section*/

nav {
    height: 94px;
    line-height: 88px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 55px;
    font-size: 13px;
}

.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
}

.menu li a:hover,
.menu li a:focus {
    text-decoration: none;
    color: #e1e1e1;
}

.top_line {
    height: 1px;
    background-color: #e1e1e1;
    margin: -4px -16px;
}

.logo {
    padding: 33px 0;
}

.title_block {
    color: #ffffff;
    text-align: center;
    margin-top: 140px;
}

.title_block h1 {
    font-size: 65px;
    font-family: "RalewayBold", sans-serif;
    margin-bottom: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title_block p {
    font-size: 22px;
    margin-bottom: 77px;
}

/*Features section*/

.features {
    padding-top: 120px;
    text-align: center;
}

.features h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #2d3033;
    padding-top: 13px;
    padding-bottom: 8px;
}

.features p {
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    padding-bottom: 45px;
}

/*Work section*/

.works {
    margin-top: 50px;
}

.works .col-md-3 {
    padding: 0;
}

.image_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,.7);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 0;
}
.image_wrap:hover{
    opacity: 1;
}
.work_descr{
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.work_descr h4 {
    font-size: 14px;
    text-transform: uppercase;
}

/*Team section*/

.team {
    margin: 100px 0;
}

.team h4 {
    font-size: 22px;
    color: #2d3033;
    padding-top: 17px;
    margin-bottom: 5px;
}

.team span {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-top: 10px;
}

.team p {
    font-size: 14px;
    color: #6c7279;
    margin-top: 20px;
}

.social_block {
    margin-top: 30px;
}

.social_block a {
    color: #c6cacc;
    border: 2px solid #e8ecee;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
}