* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "RalewayRegular", sans-serif;
    font-size: 16px;
    min-width: 320px;
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

/*Buttons*/

.my_btn {
    background-color: #e84545;
    border: none;
    text-transform: uppercase;
}

.btn_md {
    height: 48px;
    width: 202px;
    font-size: 13px;
}

.btn_lg {
    margin-top: 36px;
    /*padding: 12px 70px;*/
    height: 45px;
    width: 275px;
    color: #fff;
    font-size: 13px;
}

.my_btn:focus,
.btn_md:focus,
.btn_lg:focus {
    border: none;
    outline: none;
}

/*Header section*/

header {
    height: 745px;
    background-image: url("../img/header_bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

/*Navigation section*/

nav {
    height: 94px;
    line-height: 88px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 55px;
    font-size: 13px;
}

.menu li a {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "RalewayBold", sans-serif;
}

.menu li a:hover,
.menu li a:focus {
    color: #e1e1e1;
}

.top_line {
    height: 1px;
    background-color: #e1e1e1;
    margin: -4px -16px;
}

.logo {
    padding: 33px 0;
}

.title_block {
    color: #ffffff;
    text-align: center;
    margin-top: 140px;
}

.title_block h1 {
    font-size: 65px;
    font-family: "RalewayBold", sans-serif;
    margin-bottom: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title_block p {
    font-size: 22px;
    margin-bottom: 77px;
}

/*End of Navigation section*/

/*Features section*/

.features {
    padding-top: 120px;
    text-align: center;
}

.features h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #2d3033;
    padding-top: 13px;
    padding-bottom: 8px;
    font-weight: bold;
}

.features p {
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    padding-bottom: 64px;
}

/* End of Features section*/

/*Work section*/

.works {
    margin-top: 50px;
}

.works .col-md-3 {
    padding: 0;
}

.image_wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,.7);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 0;
}
.image_wrap:hover{
    opacity: 1;
}
.work_descr{
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.work_descr h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

/*End of Work section*/

/*Team section*/

.team {
    margin: 50px 0;
    padding: 50px 0;
}

.team h4 {
    font-size: 22px;
    color: #2d3033;
    padding-top: 17px;
    margin-bottom: 5px;
    font-weight: bold;
}

.team span {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-top: 10px;
}

.team p {
    font-size: 14px;
    color: #6c7279;
    margin-top: 20px;
}

.social_block {
    margin-top: 30px;
}
.footer_social_block a,
.social_block a {
    color: #c6cacc;
    border: 2px solid #e8ecee;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 10px;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-linkedin-square:hover {
    border-color: #c6cacc;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-github:hover {
    color: #323131;
}

.fa-linkedin-square:hover {
    color: #0077b5;
}

/*End of Team section*/

/*Download section*/

.download_block {
    text-align: center;
    margin: 50px 0 100px;
}

.download_block h4 {
    font-size: 28px;
}

.download_block span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

/*End of Download section*/

/*Footer section*/

footer {
    background-color: #3a3e64;
}

.footer_block {
    padding: 60px 0 85px 0;
    color: #e5e5ea;
    text-align: center;
    height: 250px;
}

.footer_block h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.footer_block p {
    color: #9092a7;
    font-size: 14px;
    padding: 5px 0;
    line-height: 22px;
}

.footer_social_block {
    margin-top: 20px;
}

.footer_social_block a {
    color: #9092a7;
    border-color: #9092a7;
    margin-left: 4px;
}

.footer_social_block a:hover {
    color: #fff;
}

.footer_social_block.fa-facebook:hover,
.footer_social_block.fa-github:hover,
.footer_social_block.fa-linkedin-square:hover {
    border-color: #fff;
}

/*End of Footer section*/

/*Copyright block*/

.copyright_block {
    text-align: center;
    background-color: #313454;
    height: 90px;
}

.copyright_block p {
    color: #666771;
    font-size: 15px;
}

.copyright_block p:first-child {
    padding-top: 32px;
    line-height: 2px;
}

.copyright_block a {
    color: #b9b9c5;
}

.copyright_block a:hover {
    color: #fff;
}

.copyright_block a:focus {
    text-decoration: none;
    outline: none;
}

/*End of copyright block*/